@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IBMPlexMono;
  src: url("/assets/fonts/IBMPlexMono-Regular.ttf");
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

